server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/Back_End
    driverClassName: "com.mysql.cj.jdbc.Driver"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
  valid-duration: 36000 #seconds
  refreshable-duration: 360000 #seconds

cloudinary:
  cloud_name: "dkamugos5"
  api_key: "699183452242579"
  api_secret: "1pFbBUoout8BGSR0jf2zidml8s8"
