.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0f6cbf;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-menu {
    display: flex;
    gap: 20px;
  }
  
  .nav-menu a {
    color: white;
    text-decoration: none;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .profile-icon {
    background-color: white;
    color: #003366;
    padding: 10px;
    border-radius: 50%;
    font-weight: bold;
  }
  
.custom-navbar {
  background-color: #0f6cbf; 
}

.navbar-brand{
  font-weight: bold;
  padding-right: 100px;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .nav-dropdown {
  color: white !important; /* Ensures the main navbar text is white */
}

.custom-navbar .dropdown-item {
  color: black !important; /* Dropdown items text is black */
}

.custom-navbar .nav-link:hover,
.custom-navbar .dropdown-item:hover {
  color: #ddd !important; /* Optional: Slight color change on hover */
}

