.sidebar {
  background-color: #003366;
  color: white;
  height: 100vh;
  padding: 20px;
  width: 250px;
  text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

.sidebar-menu {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-decoration: none;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  padding: 10px 5px;
  transition: background-color 0.3s;
}

.sidebar-menu a:hover {
  background-color: #00509e;
}
