.sidebar {
  background-color: #e8e8ff;
  color: black;

  display: flex;
  flex-direction: column;

  border-width: 2px;
  border-color: black;
  border-style: solid;

  height: 100vh;

  padding: 20px;
  width: 240px;
  gap: 40px;

  :hover{
    font-weight: bold;
    color: #01008A !important;
  }
}



