h2 {
    text-align: center;
    margin-bottom: 20px;
}

.add-employee-container .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.add-employee-container {
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.add-employee-form {
    max-width: 400px;
    width: 300%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.add-employee-form input,
.add-employee-form select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.add-employee-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-employee-form button:hover {
    background-color: #218838;
}
